/*by styling mobile to desktop (small to big), 
we're adding complexity*/

* {
	margin:0;
}

img {
	width:30%;
	display:block;
	padding-bottom:1em;
}

body {
	margin: 2em;
	max-width:95%;
	font-family: 'Roboto', sans-serif;
	font-size:1.1em;
}

@media (min-width: 640px) { /*at least 640 px*/
	body {
		width:610px;
		max-width:70%;
		margin:1em 20% 5% 20% ;
		/*margin:auto;*/
	}
}

.title {
	font-size: 2em;
	padding-bottom:1em;
	font-family:'Gelasio', serif;
}

.subtitle {
	padding-bottom:1em;
	font-size:1.2em;
	color: rgba(0, 0, 0, 0.7);
}

.date {
	padding-bottom:1em;
	font-family:'Gelasio', serif;
}

.tags {
	padding-bottom:1em;
	padding: 0px 20px 0px 0px;
/*	background-color:rgba(0, 0, 0, 0.2 );
	border-radius:100px;*/
}

.teaser {
	font-style: italic;
}

@media (min-width: 640px) { /*at least 640 px*/
	.title {
		font-size: 2.5em;
	}
}





/*title is 22pt until 640px, 36pt after*/



p {
	padding-top:1.5em;
}