
* {
	margin:0;
	padding:0;
	
}

body {
	margin:0;
	padding:0;
}

.topline {
	background-color:black;
	height:7px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:20;
	transition-duration: 2s;
}

.header img {
	width:100%;
	/*max-height:calc(400px);*/
	background-size:cover;
	object-fit:cover;
	object-position:center;
	margin:0em 0em 2em 0em;
}

.header img:hover {
	opacity:0.9;
	transition-duration: 0.3s;
}


.title {
	color:black;
	font-size:2.3em;
	line-height:1.25;
	margin-top:1em;
	margin-bottom:1em;
	padding:0px;
	font-family:'Roboto Slab', sans-serif;
	font-weight:bold;
	background-color:none;
}

header .content {
	background-color:none;
	margin-top:2em;
}

header {
	margin-bottom:0em;
}


.content {
	/*margin-top:calc(300px)*/;
	margin: 1em 1em 1em 1em;
	margin-top:0em;
	max-width:85%;
	font-size:1.2em;
	padding-bottom:20em;
	background-color:;
	padding:2em;
	font-family:'Noto Serif SC';
}

.article {
	line-height:1.6;
}

footer {
	background-color:black;
	margin:0;
	padding:0;
}

h3 {
	font-size:1.2em;
	font-family: 'Roboto Slab';
	font-weight:normal;
	margin-bottom:1.5em;
}

footer .content {
	font-size:0.9em;
	background-color:black;
	margin-bottom:0;
}

footer a {
	color:white;
	text-decoration:none;
	transition-duration: 0.3s;
}

footer a:hover {
	opacity:0.8;
}

footer .block {
	text-align:left;
	margin-bottom:5.5em;
	margin-top:3em;
	color:white;
	background-color:;
}

footer .block img {
	height:1.2em;
	transition-duration: 0.3s;
}

footer .block img:hover {
	opacity:0.8;
}

input[type=text] {
	max-width:100%;
  	padding: 2px 0px 4px 0px;
  	border-style: none none solid none;
  	border-width:2px;
  	border-color:white;
  	background-color:black;
  	color:white;
  	opacity:1;
  	font-family: 'Noto Serif SC';
  	margin-top: 1em;
  	margin-right: 0;
  	font-size: 1em;
}

input placeholder {
	color: white;
	opacity:1;
}

/*MOBILE MENU ONLY*/

@media (max-width: 640px) {

	.content {
		margin: auto;
	}

	.topbar .content {
		margin-top:-0.5em;
		margin-bottom:-0.5em;
		font-family:'Roboto Slab';
	}

	.newsflash a {
		color: black;
		transition-duration:0.3s;
	}

	.topbar:hover .newsflash a {
		color:white;
	}

	.menu {
		position:fixed;
		z-index:30;
		opacity:0;
		visibility:hidden;
		transition-duration:0.2s;
		/*transform: translateX(50px);*/
		color:black;
		font-size:1em;
		background-color:white;
		margin:1.5em -2em;
	}

	.space {
		display:none;
	}

	.menu img {
		height:1em;
		margin-top:0.5em;
	}

	.menu .nav {
		font-size:1.2em;
		margin: 0em 2em;
		color:black;
		width:100vw;
		height:100vh;
	}

	.menu .expandable {
		color:red;
		margin:0em 2em;
		margin-bottom:3em;
		/*overflow:scroll;*/
	}

	.menu .expandable:first-child {
		padding-top:1em;
	}

	.menu .nav a {
		text-decoration:none;
		color:black;
	}

	.menu .nav li {
		/*display:flex;*/
		background-color:;
	}

	.menu li .open {
		margin:0.25em 2.5em 0em 0em;
		display:inline-flex;
		justify-content: space-around;
		color:red;
		font-size:0.8em;
		/*font-weight:bold;*/
	}

	.expanded {
		font-weight:bold;
	}

	.menu.menu_is_open {
		opacity:1;
		color:black;

		visibility:visible;
		transform: translateX(0);
	}

	.hamburger_b {
		width:1em;
		position:absolute;
		isibility:visible;
		display:inline;
		margin: 2.2em 0.7em;
	}

	.hamburger_w {
		position:absolute;
		isibility:visible;
		display:inline;
		margin: 2.2em 0.7em;
		width:1em;
	}

	.topbar .hamburger_w {
		visibility:hidden;
	}

	.topbar:hover .hamburger_w {
		visibility:visible;
	}

	.topbar:hover .hamburger_b {
		visibility:hidden;
	}

	.newsflash {
		color:black;
	}

	.topbar:hover {
		color:white;
		background-color:black;
	}

	.topbar:hover .signin {
		color:white;
		opacity:1;
	}

	.topbar:hover .newsflash {
		color:white;
	}

}

/*DESKTOP MENU ONLY*/

@media (min-width: 641px) {

	#news-template {
		margin-top:5em;
	}

	.topbar .content {
		margin-top:-1em;
		margin-bottom:-2em;
		font-family:'Roboto Slab';
	}

	.newsflash {
		margin-bottom:10em;
	}

	.topbar a {
		color:black;
		transition-duration:0.3s;
	}

	.hamburger_b {
		visibility:hidden;
	}

	.hamburger_w {
		visibility:hidden;
	}

	.menu {
		padding:0;
		transition-duration:1s;
		background-color:white;
	}

	.nav {
		
		/*display:flex;*/
		color:black;
		justify-content:space-between;
		display:none;
		transition-duration:1s;
		/*transition-duration:0.3s;*/
	}

	.topbar:hover .nav {
		display:flex;
		background-color:rgba(240, 240, 240, 1);
	}

	.nav a {
		margin: 0em 1em;
		/*box-sizing:border-box;*/
	}

	li {
		transition-duration:1s;
		display: block;
		color:black;
		/*background-color:white;*/
	}

	.masthead {
		padding:6px 8px;
		box-sizing:border-box;
	}

	.space {
		transition-duration:1s;
		height:1em;
		background-color:white;
	}

	/*.topbar {
		background-color:white;
	}*/

	.topbar:hover .space {
		display:none;
	}

	.topbar:hover .masthead {
		color:white;
		background-color:black;
	}

	.topbar {
		transition-duration: 1s;
	}

	.topbar:hover  {
		color:white;
		background-color:rgba(240, 240, 240, 1);
	}

	/*.topbar:hover a {
		color:white;
		transition-duration:0.3s;
	}

	.topbar:hover li {
		color:white;
		background-color:black;
		transition-duration:0.3s;
	}*/

	.topbar:hover .signin {
		opacity:1;
	}

	.topbar .signin:hover {
		color:white;
		background-color:black;
		padding:5px 10px;
		box-sizing:border-box;
	}

	.expanded {
		transition-duration:1s;
		font-weight:bold;
	}

	.nav li a {
		padding:3px;
	}

	.nav li:hover a {
		font-weight:bold;
	}

	/*.open {
		background-color:white;
	}*/

	.open {
		background-color:rgba(240, 240, 240, 1);
		z-index:30;
		transition-duration:1s;
	}

	li .open:hover {
		background-color:black;
		font-weight:normal;
	}

	li .open:hover a {
		color:white;
	}

	.expandable > ul {
		transition-duration:0.3s;
		position:absolute;
		top:100%; /*puts at top of parent bottom*/
	}
}

.expandable > ul {
      display:none;
      transition-duration:1s;
      visibility:hidden;
}

.expandable.expanded > ul {
      display:block;
      visibility:visible;
}

.topbar {
	background-color:white;
	color:black;
	/*height:1em;*/
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9;
	transition-duration: 0.3s;
}

.topbar li {
	z-index:20;
}



.topbar a {
	text-decoration:none;
}

.topbar .signin {
	color:black;
	opacity:0.5;
	padding:5px 10px;
	box-sizing:border-box;
	transition-duration: 0.3s;
}



.topbar img {
	height:0.9em;
}


.topbar li {
	list-style-type:none;
	margin:0;
	padding:0;
}

.topbar .logo_white {
	display:none;
}

.topbar:hover .logo_black {
	display:none;
}

.topbar:hover .logo_white {
	display:inline-block;
	/*margin: 2em;*/
}


.menu .nav {
	z-index:0;
	margin:1.5em 0em;
	padding:0em;
	/*overflow-y:scroll;*/
}

.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu .cat {
	font-size:0.8em;
	font-family:'Roboto Slab';
	/*padding-top:1em;*/
}

.menu .bar:first-child {
	margin:0em 0em;
}

.menu .cat .open {
	padding:0.5em 0em;
	font-family:'Noto Serif SC';
}

.topbar .social {
	display:inline-block;
	float:right;
}

.topbar .social img {
	width:20px;
}

/*a {
	color:black;
	text-decoration-style: underline;
}*/

@media (min-width: 1000px) { /*at least 1000 px*/
	.content {
		width:800px;
		margin:auto;
		max-width:70%;
		/*margin:auto;*/
	}

	.pullquote {
		display:inline-block;
		clear:both;
		float:right;
		margin:0em -6em 1em 1em;
		width:50%;
	}
}

.subtitle {
	padding-bottom:1em;
	font-size:1em;
	line-height:1.5;
	color: rgba(0, 0, 0, 1);
}

.date {
	display:block;
	color: rgba(0, 0, 0, 1);
}

.tags {
	font-family:'Roboto Slab';
	padding-bottom:2em;
	text-align:right;
	color:white;
	padding: 0px 25px 0px 0px;
/*	display:inline-block;
	float:right;*/
	display:inline-flex;
	flex-flow: row wrap;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
}

.tags a {
	text-transform:uppercase;
	text-decoration:none;
	padding: 5px 15px 5px 15px;
/*	text-align:right;*/
	color:rgba(255, 255, 255, 1);
	/*border-radius:20px;*/
/*	outline-style:solid;
	border: 0.1px solid black;*/
	background-color:rgba(0, 0, 0, 1); /*red*/
	transition-duration: 0.3s;
}

.tags a:hover {
	color:black;
	outline-style:none;
	background-color:rgba(0,0,0,0.1);
}

.caption {
	font-family: 'Roboto Slab', sans-serif;
	font-size:1em;
	text-transform:;
	color:rgba(0, 0, 0, 1);
	padding-bottom:0em;
}

.caption a {
	color:rgba(0, 0, 0, 1);
	text-decoration:none;
}

.caption a:hover {
	color:rgba(0,0,0,0.5);
	text-decoration:none;
	transition-duration: 0.3s;
}

/*social media icons*/
#author_footer img {
	width:20px;
}

#author_footer img:hover {
	opacity:0.5;
	transition-duration:0.3s;
}

#author_footer {
	text-transform:none;
	font-family:'Roboto Slab';
}

#jane img {
	width:4em;
	display:inline-block;
	float:right;
	padding:0em 0em 0em 1em;
}

.source {
	text-transform:none;
}

.teaser {
	font-style:italic;
}

.bar {
	/*display:inline-block;*/
	margin: 1em 0em 1em 0em;
	background-color:rgba(0,0,0,1);
	/*background:
		linear-gradient(90deg, 
		rgba(255,224,104,1) 44%, 
		rgba(255,29,253,1) 100%);*/
	height:3px;
}

.pullquote {
	font-size: 1.3em;
	padding:1em 1em 1em 1em;
	font-family:'Roboto Slab';
}

article {
	line-height:1.7;
	margin-bottom:4em;
}

article a {
	color:rgba(0,0,0,1);
	font-weight:bold;
	/*padding: 2px 5px 2px 5px;
	background-color:rgba(200, 0, 0, 0.8);*/
	text-decoration:none;
}

article a:hover {
	color:rgba(0,0,0,0.5);;
	transition-duration: 0.3s;
}

article li {
	padding: 0.5em 0em;
	list-style-position:outside;
}

article p {
	margin-bottom:1em;
}

.related {
	font-family:'Roboto Slab';
	line-height:1.3;
	padding:0em -2em 0em 0em;
	display:block;
	margin-bottom:5em;
}


.related a:hover {
	background-color:rgba(0, 0, 0, 0.9);
	transition-duration: 0.3s;
}

.related li {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap-reverse;
	/*float:left;*/
	padding: 1em 0em;
}

.related ul {
	list-style-type:none;
	margin-top:2em;
	padding:0;
}

.related img {
	width:100%;
	height:calc(170px);
	display:block;
	padding:1em 0em 1em 0em;
	background-size:cover;
	object-fit:cover;
	object-position:center;
	/*make div for img, use padding to size down
	/*use object-fit:cover; 
	to maintain aspect ratio (crops)*/
}

.related_header {
	font-family:'Roboto Slab';
	text-transform;
	font-weight:bold;
	font-size:2em;
	margin-bottom:2em;
}


@media (min-width: 640px) { /*at least 640 px*/

	.title {
		font-size: 3em;
		line-height:1.2;
	}

	.date {
		display:inline-block;
		float:right;
	}

	.author {
		display:inline-block;
		float:left;
	}

	.tags {
		display:flex;
		padding-bottom:1em;
		text-align:right;
		color:white;
		padding: 0px 0px 0px 25px;
		/*display:inline-block;*/
		float:right;
	}

	#jane img {
		width:4em;
		display:inline-block;
		float:right;
		clear:both;
		padding:0em 0em 0em 1em;
	}

	.related {
		display:inline-flex;
		flex-flow: row wrap;
		flex-direction:row;
		flex-wrap:wrap;
		/*float:left;*/
		margin: 2em -0.5em;
		justify-content: flex-start;
	}

	.related_single {
		/*position:relative;*/
		width:20%;
		min-width:200px;
		display:flex;
		/*background-color:rgba(0, 200, 200, 0.1);*/
		/*flex-flow:row wrap;*/
		flex: 1 0 auto;
		flex-direction:column;
		/*padding: 2.5%;*/
		margin:0 0.5em;
		padding:0;
		justify-content: space-between;
		/*box-sizing:border-box;*/
	}

	.related_single:hover {
		opacity:0.8;
		transition-duration:0.5s;
	}

	.related_single div {
		display:flex;
		flex-direction:column;
		justify-content: space-between;
	}

	.related_single p {
		font-size:0.9em;
		flex-grow: 2;
		/*higher flex grow fills the space*/
		overflow:wrap;
		color: rgba(255, 255, 255, 1);
		background-color:rgba(0, 0, 0, 1);
		padding:1em;
		/*box-sizing:border-box;*/
	}

	.related_single img {
		width:100%;
		max-height:calc(200px);
		/*display:block;*/
		opacity:0.9;
		padding:0;
		position:relative;
		bottom:0;
		/*padding:0.5em 0em 2em 0em;*/
	}

	footer .content {
		display:flex;
		justify-content: space-between;
	}

	footer .content .block {
		max-width:27%;
		text-align:left;
	}


p {
	padding-top:1.5em;
}