<!DOCTYPE html>
<html>

<head>
  <title>News Story Template</title>
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">

  <style>[v-cloak] { display: none; }</style>

  <link href="styles.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Roboto+Slab:400,600&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script> -->
  <!-- <script src="script.js"></script> -->

  <!-- icomoon.io: can upload .svgs font as custom icons --> 

</head>


<body>

  <div class="topline"></div>

  <div class="menu">
    <div v-on:click="toggleOpen()"><img src="hamburger.png"></div>
    <div v-show="menuIsOpen">
      <ul class="nav">
        <li class="cat"><div v-on:click="toggleOpen()">Politics</div>
          <div v-show="menuIsOpen">
          <ul>
            <li class="pol">&#8212;Election</li>
            <li class="pol">&#8212;Local</li>
            <li class="pol">&#8212;National</li>
            <li class="pol">&#8212;Voting</li>
          </ul>
          </div>
        </li>
        <li class="cat">Opinion</a>
          <ul>
            <li class="op">&#8212;From Newsflash</li>
            <li class="op">&#8212;The Weekly</li>
            <li class="op">&#8212;Box Office</li>
          </ul>
        </li>
        <li class="cat"><a href>Science</a>
          <ul>
            <li class="sci">&#8212;Tech</li>
            <li class="sci">&#8212;Environment</li>
            <li class="sci">&#8212;Medicine</li>
            <li class="sci">&#8212;Space</li>
          </ul>
        </li>
        <li class="cat"><a href>Arts & Entertainment</a>
          <ul>
            <li class="ent">&#8212;Visual Culture</li>
            <li class="ent">&#8212;Performing Arts</li>
            <li class="ent">&#8212;Literature</li>
            <li class="ent">&#8212;Sports</li>
            <li class="ent">&#8212;Gaming</li>
            <li class="ent">&#8212;TV & Films</li>
            <li class="ent">&#8212;Music</li>
          </ul>
        </li>
        <li class="cat"><a href>Lifestyle</a>
          <ul>
            <li class="life">&#8212;Food</li>
            <li class="life">&#8212;Fashion</li>
            <li class="life">&#8212;Travel</li>
            <li class="life">&#8212;Home</li>
            <li class="life">&#8212;LGBTQIA*</li>
          </ul>
        </li>
      </ul>
      <br>
    </div>
  </div>
  

  <div class="topbar">
  <div class="content">
    <li>Newsflash <img class="logo_black" src="logo_b.png"><img class="logo_white" src="logo_w.png">
    <div class="social">
      <a class="signin" href="/signin">Sign in</a>
      <!-- <div class="bar"></div> -->
    </div>
  </div>
  </div>



  <script>
      new Vue({
        el: '.menu',
        data: {
          menuIsOpen: false
        },
        methods: {
          toggleOpen: function() {
            this.menuIsOpen = !this.menuIsOpen
          }
        }
      })
  </script>

</div>



<div id="news-template" v-cloak>

  <!-- Main Story -->


  <header>

    <div class="content">

      <div class="title">{{ story.title }}</div>

      <div class="subtitle">{{ story.subtitle }}</div>

      <!-- {{ these are called tokens }} -->



      <div class="caption">{{ story.image.caption }}
        <p class="author">Written by <a href="story.source.url">Jane Doe</a> for 
          <a class="source" v-bind:href="story.source.url">{{ story.source.name }}</a> on {{ story.date }}</p>
        </div>

        <br>

        <span v-for="tag in story.tags" class="tags"><a href="https://www.washingtonpost.com/">{{ tag }}</a></span>
        
      </div>
    </header>

    <div class="content">

      <div class="header"><img v-bind:src="story.image.url"></div>


      <div class="bar"></div>

      <article>

        <div class="teaser"><span v-html="story.teaser"></span></div> 



        <span v-html="story.content"></span>
        <div class="pullquote">Interdum duis dictumst platea taciti sapien potenti, nullam suscipit dolor nisl himenaeos mauris, felis dictumst in aliquam primis curae ac ad sociosqu convallis dolor lacinia aenean tellus imperdiet sapien etiam.<div class="bar"></div></div>
        <span v-html="story.content"></span>

        <br>
        <div class="bar"></div>

        <div class="author_footer">
          <br>
          <p>Follow
            {{ story.image.caption }}
            <!-- hierarchy abt what's in the token: story then img then caption -->
            <a class="source" v-bind:href="story.source.url">{{ story.source.name }}</a>
            on &nbsp;
            <a href="https://twitter.com"><img src="https://www.iconsdb.com/icons/preview/black/twitter-xxl.png"></a>
            &nbsp;
            <a href="https://facebook.com"><img src="https://iconsplace.com/wp-content/uploads/_icons/000000/256/png/facebook-icon-256.png"></a> 
            &nbsp;
            <a href="https://medium.com"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/3377341091551941703-256.png"></a>

            <br><br>

            <div class="jane">

              <img src="https://vignette.wikia.nocookie.net/unidentified/images/0/0d/CCC.jpg/revision/latest/scale-to-width-down/200?cb=20151209010425">
              <a href="story.source.url">Jane Doe</a> is a journalist with interests in politics, fashion, and how those two intersect. She lives in New York City with her two cats Linden and John.
            </div>

          </div>
          <br><br>
          <div class="bar"></div>

        </article>
        <!-- txt includes html markup of their own. putting v-html helps "view" render as such -->
      </div>

      <div class="content">
       <span class="related_header">Recent Stories</span>
       <ul class="related">
        <li class="related_single" v-for="relatedStory in relatedStories">
          <div v-on:click="load(relatedStory)">

            <img v-bind:src="relatedStory.image.url">
            <p>{{ relatedStory.title }}</p>
          </div>
        </li>

              <!-- <li class="related_single" v-for="topStory in topStories">
                <div v-on:click="load(topStory)">
                
                <img v-bind:src="topStory.image.url">
                <p>{{ topStory.title }}</p>
                </div>
              </li> -->
            </ul>
          </div>
        </div>



        <!-- Useful debugging info, you can comment this section out when you don't need it. -->
      <!-- <pre>The story object: {{ story | json }}</pre>
        <pre>The relatedStories array: {{ relatedStories | json }}</pre> -->



        <!-- Scripts here are what load the Vue library, and the actual story content. -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>


        <div class="footer"><div class="content">
          <p>Newsflash is a askdfjslkdjflkj</p>
        </div></div>
      </body>
      </html>