body {
	/*margin-top:calc(300px)*/;
	margin: 1em 1em 1em 1em;
	margin:auto;
	margin-top:0em;
	max-width:85%;
	font-size:1.2em;
	padding-bottom:20em;
	background-color:;
	padding:2em;
	font-family:'Roboto Slab';
}


img {
	display: inline-block;
	padding-right:5%;
	width: 40%;
}